FFI/Service References/Attachment/wsattachment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://127.0.0.1/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s4="http://127.0.0.1//saveDocAttachment/Response" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://127.0.0.1//getDocAttachment/Request" xmlns:s2="http://127.0.0.1//getDocAttachment/Response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://127.0.0.1//saveDocAttachment/Request" targetNamespace="http://127.0.0.1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Webservice to handle document Attachments</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1/">
      <s:import namespace="http://127.0.0.1//getDocAttachment/Request" />
      <s:import namespace="http://127.0.0.1//getDocAttachment/Response" />
      <s:import namespace="http://127.0.0.1//saveDocAttachment/Request" />
      <s:import namespace="http://127.0.0.1//saveDocAttachment/Response" />
      <s:element name="getDocAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveDocAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveDocAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:document" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1//getDocAttachment/Request">
      <s:element name="document" type="s1:getDocAttachmentRequest" />
      <s:complexType name="getDocAttachmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="context" type="s1:getDocAttachmentRequestcontext" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDocAttachmentRequestcontext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbServer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="s1:getDocAttachmentRequestHeader" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDocAttachmentRequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="menu_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="doc_number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="doc_rowid" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1//getDocAttachment/Response">
      <s:element name="document" type="s2:getDocAttachmentResponse" />
      <s:complexType name="getDocAttachmentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="context" type="s2:getDocAttachmentResponsecontext" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UADSApplicationExceptionClass" type="s2:getDocAttachmentResponseUADSApplicationExceptionClass" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ApplicationException" type="s2:getDocAttachmentResponseApplicationException" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDocAttachmentResponsecontext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbServer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="List" type="s2:getDocAttachmentResponseList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDocAttachmentResponseList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="attach_rowid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="file_version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="attach_group_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="attach_group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="attach_subgroup_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="attach_subgroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="file_size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="file_path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="mode_flag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDocAttachmentResponseUADSApplicationExceptionClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getDocAttachmentResponseApplicationException">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1//saveDocAttachment/Request">
      <s:element name="document" type="s3:saveDocAttachmentRequest" />
      <s:complexType name="saveDocAttachmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="context" type="s3:saveDocAttachmentRequestcontext" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saveDocAttachmentRequestcontext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbServer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Header" type="s3:saveDocAttachmentRequestHeader" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="List" type="s3:saveDocAttachmentRequestList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saveDocAttachmentRequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="menu_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="doc_number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="doc_rowid" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saveDocAttachmentRequestList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="attach_rowid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="file_version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="attach_group_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="attach_subgroup_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="file_size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="file_path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="mode_flag" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1//saveDocAttachment/Response">
      <s:element name="document" type="s4:saveDocAttachmentResponse" />
      <s:complexType name="saveDocAttachmentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="context" type="s4:saveDocAttachmentResponsecontext" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UADSApplicationExceptionClass" type="s4:saveDocAttachmentResponseUADSApplicationExceptionClass" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ApplicationException" type="s4:saveDocAttachmentResponseApplicationException" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saveDocAttachmentResponsecontext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbServer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dbPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgnId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="locnId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saveDocAttachmentResponseUADSApplicationExceptionClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saveDocAttachmentResponseApplicationException">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDocAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:getDocAttachment" />
  </wsdl:message>
  <wsdl:message name="getDocAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:getDocAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="saveDocAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:saveDocAttachment" />
  </wsdl:message>
  <wsdl:message name="saveDocAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:saveDocAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAttachmentSoap">
    <wsdl:operation name="getDocAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Document Attachment</wsdl:documentation>
      <wsdl:input message="tns:getDocAttachmentSoapIn" />
      <wsdl:output message="tns:getDocAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveDocAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Save Document Attachment</wsdl:documentation>
      <wsdl:input message="tns:saveDocAttachmentSoapIn" />
      <wsdl:output message="tns:saveDocAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAttachmentSoap" type="tns:wsAttachmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocAttachment">
      <soap:operation soapAction="http://127.0.0.1/getDocAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDocAttachment">
      <soap:operation soapAction="http://127.0.0.1/saveDocAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAttachmentSoap12" type="tns:wsAttachmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocAttachment">
      <soap12:operation soapAction="http://127.0.0.1/getDocAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDocAttachment">
      <soap12:operation soapAction="http://127.0.0.1/saveDocAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAttachment">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Webservice to handle document Attachments</wsdl:documentation>
    <wsdl:port name="wsAttachmentSoap" binding="tns:wsAttachmentSoap">
      <soap:address location="http://169.38.82.131:90/ws/attachment/wsattachment.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAttachmentSoap12" binding="tns:wsAttachmentSoap12">
      <soap12:address location="http://169.38.82.131:90/ws/attachment/wsattachment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>